In [1]:
import pandas as pd
data = pd.read_csv('ml std data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Timestamp        26 non-null object
Name             26 non-null object
MailId           26 non-null object
Branch           26 non-null object
Qualification    26 non-null object
RollNumber       26 non-null object
dtypes: object(6)
memory usage: 1.3+ KB

### Fancy Indexing

In [6]:
data.MailId

0     sainagarajusakhamuri99@gmail.com
1               deepakrella9@gmail.com
2                 chaitu1495@gmail.com
3              srikanthbisai@gmail.com
4            himajacherukuri@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
8              bjaganmohan24@gmail.com
9       parameshkarumuri1997@gmail.com
10      ravindrakumarroyal12@gmail.com
11       bhargavperumalla123@gmail.com
12           kavyathatavarti@gmail.com
13             harishbandi12@gmail.com
14         bhavanisankar5758@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
17              tvnagajyothi@gmail.com
18           p.anandalakshmi@gmail.com
19             saikamavarapu@gmail.com
20               ali95asghar@gmail.com
21               121822502016@gitam.in
22         duppatijayanaveen@gmail.com
23       vikramsabbavarapu60@gmail.com
24         saitejajaladi2000@gmail.com
25               saikumarm64@gmail.com
Name: MailId, dtype: object

In [7]:
data.Qualification

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [8]:
data.Qualification=='PG'

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: Qualification, dtype: bool

In [9]:
data[data.Qualification=='PG']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011

In [10]:
data['MailId'][data.Qualification=='B.TECH']

13        harishbandi12@gmail.com
22    duppatijayanaveen@gmail.com
24    saitejajaladi2000@gmail.com
Name: MailId, dtype: object

In [12]:
# students roll numbers with branch Data science
data['RollNumber'][data.Branch=='Data Science']

8     121822502015
14    121822502018
21    121822502016
Name: RollNumber, dtype: object

In [15]:
data['RollNumber'][data.Branch=='IT']

0     161FA07039
12    161FA07050
Name: RollNumber, dtype: object

In [16]:
((data.Branch=='IT') | (data.Branch == 'I.T')).sum()

4

In [17]:
((data.Branch=='IT') | (data.Branch == 'I.T') | (data.Branch == 'Information Technology')).sum()

8

In [21]:
print(0 or 56)
print(56 or False)
print(6==7 or 8==8)
print(4+5 or 7+9)
print(5-5 or 6-2)
print(False or 4-4)

56
56
True
9
4
0

In [54]:
data.Qualification.value_counts()

B.Tech    13
PG         4
MSC        4
DEGREE     2
MCA        2
B.E        1
Name: Qualification, dtype: int64

In [81]:
data.Qualification[data.Qualification=='B.tech'] = 'B.Tech'

In [82]:
data.Qualification[data.Qualification=='B-tech'] = 'B.Tech'

In [83]:
data.Qualification[data.Qualification=='B.TECH'] = 'B.Tech'

In [84]:
data.Qualification[data.Qualification=='BTech'] = 'B.Tech'

In [85]:
data.Qualification[data.Qualification=='M.Sc'] = 'MSC'

In [86]:
data.Qualification[data.Qualification=='M.sc'] = 'MSC'

In [87]:
data.Qualification[data.Qualification=='MSc'] = 'MSC'

In [88]:
data.Qualification[data.Qualification=='Msc'] = 'MSC'

In [89]:
data.Qualification[data.Qualification=='degree'] = 'DEGREE'

In [90]:
data.Qualification[data.Qualification=='Degree'] = 'DEGREE'

In [91]:
data.Qualification.value_counts()

B.Tech    13
PG         4
MSC        4
DEGREE     2
MCA        2
B.E        1
Name: Qualification, dtype: int64

In [60]:
data.Branch.value_counts()

IT                        8
MCA                       4
Data Science              3
CSE                       2
Computer Science          2
b com(computers)          1
cse                       1
Automobile Engineering    1
ECE                       1
DataScience               1
B.Sc(comp)                1
civil engineering         1
Name: Branch, dtype: int64

In [75]:
data.Branch[data.Branch=='Information Technology'] = 'IT'

In [74]:
data.Branch[data.Branch=='I.T'] = 'IT'

In [73]:
data.Branch[data.Branch=='Data Science'] = 'DATA SCIENCE'

In [72]:
data.Branch[data.Branch=='DataScience'] = 'DATA SCIENCE'

In [71]:
data.Branch[data.Branch=='cse'] = 'CSE'

In [70]:
data.Branch[data.Branch=='Computer Science'] = 'CSE'

In [76]:
data.Branch.value_counts()

IT                        8
CSE                       5
DATA SCIENCE              4
MCA                       4
b com(computers)          1
ECE                       1
Automobile Engineering    1
B.Sc(comp)                1
civil engineering         1
Name: Branch, dtype: int64

### Making a column as index

In [77]:
data.set_index('RollNumber',inplace=True)

In [78]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,M.sc
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,Msc
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.TECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSc
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,M.Sc
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.TECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.TECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E

### Sorting the DataFrame

In [92]:
data.sort_values('Name')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech

In [93]:
data.sort_index()

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE

### Merging the DataFrames

In [95]:
college = pd.read_csv('college.csv')
college

     RollNumber College  Year
0  121822502015   GITAM  2020
1  121822502016   GITAM  2020
2  121822502017   GITAM  2020
3  121822502018   GITAM  2020
4    161FA07035  vignan  2020

In [96]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E

In [97]:
data.reset_index(inplace=True)

In [98]:
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E

In [100]:
pd.merge(data,college,how='inner')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,GITAM,2020
1,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,GITAM,2020
2,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,vignan,2020
3,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,GITAM,2020
4,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,GITAM,2020

In [101]:
pd.merge(data,college,how='left')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,NaN,NaN
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,vignan,2020.0
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech,NaN,NaN
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,GITAM,2020.0
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,NaN,NaN
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech,NaN,NaN
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,NaN,NaN

In [104]:
pd.merge(data,college,how='outer')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,NaN,NaN
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,vignan,2020.0
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,GITAM,2020.0
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech,NaN,NaN
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,GITAM,2020.0
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,NaN,NaN
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech,NaN,NaN
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,NaN,NaN

- Data,College
    - inner  -students available in both dataframes(intersection) --> 4 rows
    - outer  -students who are there in atleast one dataframe(union) --> 27
    - left    -Roll numbers available in data --> 26
    - right   -Roll numbers available in college --> 5

In [105]:
data.shape[0],college.shape[0]

(26, 5)

- Task
- Different columns names in two Dataframes
- college - 'Roll Number'
- data - 'Roll Number'

In [108]:
college = pd.read_csv('college.csv')
college.columns

Index(['Roll Number', 'College', 'Year'], dtype='object')

In [107]:
data.columns

Index(['RollNumber', 'Timestamp', 'Name', 'MailId', 'Branch', 'Qualification'], dtype='object')

In [109]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [112]:
common_data=pd.merge(data,college,left_on='RollNumber',right_on='Roll Number')
common_data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Roll Number,College,Year
0,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,121822502015,GITAM,2020
1,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,121822502017,GITAM,2020
2,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,161FA07035,vignan,2020
3,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,121822502018,GITAM,2020
4,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,121822502016,GITAM,2020

In [113]:
common_data.drop('Roll Number',axis=1)

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,GITAM,2020
1,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,GITAM,2020
2,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,vignan,2020
3,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,GITAM,2020
4,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,GITAM,2020

In [115]:
data.Timestamp

0     30/01/2020 15:00:07
1     30/01/2020 15:00:20
2     30/01/2020 15:00:23
3     30/01/2020 15:00:25
4     30/01/2020 15:00:28
5     30/01/2020 15:00:28
6     30/01/2020 15:00:33
7     30/01/2020 15:00:37
8     30/01/2020 15:00:39
9     30/01/2020 15:00:41
10    30/01/2020 15:00:43
11    30/01/2020 15:00:44
12    30/01/2020 15:00:45
13    30/01/2020 15:01:10
14    30/01/2020 15:01:16
15    30/01/2020 15:01:24
16    30/01/2020 15:01:35
17    30/01/2020 15:01:49
18    30/01/2020 15:01:50
19    30/01/2020 15:01:56
20    30/01/2020 15:02:04
21    30/01/2020 15:02:41
22    30/01/2020 15:02:49
23    30/01/2020 15:02:59
24    30/01/2020 15:04:10
25    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [116]:
type(data.Timestamp[0])

str

In [117]:
data['Timestamp_dt']=pd.to_datetime(data.Timestamp)
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech,2020-01-30 15:00:37
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:39
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:43
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,2020-01-30 15:00:44
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,2020-01-30 15:01:10
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:01:16
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech,2020-01-30 15:01:35
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech,2020-01-30 15:01:49
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,2020-01-30 15:02:04
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,2020-01-30 15:02:41
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech,2020-01-30 15:02:49
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,2020-01-30 15:02:59
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech,2020-01-30 15:04:10
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,2020-01-30 15:07:38

In [118]:
data['Timestamp_dt'].dtype

dtype('<M8[ns]')

In [119]:
data['Timestamp_dt'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
Name: Timestamp_dt, dtype: int64

In [120]:
data['Timestamp_dt'].dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
Name: Timestamp_dt, dtype: int64

In [121]:
data['Timestamp_dt'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    2
21    2
22    2
23    2
24    4
25    7
Name: Timestamp_dt, dtype: int64

In [122]:
data['Timestamp_dt'].dt.second

0      7
1     20
2     23
3     25
4     28
5     28
6     33
7     37
8     39
9     41
10    43
11    44
12    45
13    10
14    16
15    24
16    35
17    49
18    50
19    56
20     4
21    41
22    49
23    59
24    10
25    38
Name: Timestamp_dt, dtype: int64

In [123]:
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech,2020-01-30 15:00:37
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:39
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:43
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,2020-01-30 15:00:44
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,2020-01-30 15:01:10
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:01:16
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech,2020-01-30 15:01:35
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech,2020-01-30 15:01:49
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,2020-01-30 15:02:04
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,2020-01-30 15:02:41
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech,2020-01-30 15:02:49
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,2020-01-30 15:02:59
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech,2020-01-30 15:04:10
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,2020-01-30 15:07:38

In [124]:
data.describe()

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
count,26,26,26,26,26,26,26
unique,26,25,26,26,9,6,25
top,121722501026,30/01/2020 15:00:28,M.Ramya,saikamavarapu@gmail.com,IT,B.Tech,2020-01-30 15:00:28
freq,1,2,1,1,8,13,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [125]:
data.set_index('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
RollNumber,,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,B.Tech,2020-01-30 15:00:37
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:39
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:00:43
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,2020-01-30 15:00:44
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,B.Tech,2020-01-30 15:01:10
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,DATA SCIENCE,MSC,2020-01-30 15:01:16
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,B.Tech,2020-01-30 15:01:35
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,B.Tech,2020-01-30 15:01:49
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,2020-01-30 15:02:04
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,DATA SCIENCE,MSC,2020-01-30 15:02:41
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,B.Tech,2020-01-30 15:02:49
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,2020-01-30 15:02:59
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,B.Tech,2020-01-30 15:04:10
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,2020-01-30 15:07:38

In [126]:
data.describe()

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
count,26,26,26,26,26,26,26
unique,26,25,26,26,9,6,25
top,121722501026,30/01/2020 15:00:28,M.Ramya,saikamavarapu@gmail.com,IT,B.Tech,2020-01-30 15:00:28
freq,1,2,1,1,8,13,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [127]:
data.Branch.value_counts()

IT                        8
CSE                       5
DATA SCIENCE              4
MCA                       4
b com(computers)          1
ECE                       1
Automobile Engineering    1
B.Sc(comp)                1
civil engineering         1
Name: Branch, dtype: int64

In [128]:
data['seconds']=data['Timestamp_dt'].dt.second
data.describe()

         seconds
count  26.000000
mean   32.846154
std    15.371902
min     4.000000
25%    23.250000
50%    36.000000
75%    43.750000
max    59.000000

In [129]:
data.Branch.nunique()

9

In [130]:
data.describe(include='all')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,seconds
count,26,26,26,26,26,26,26,26.000000
unique,26,25,26,26,9,6,25,NaN
top,121722501026,30/01/2020 15:00:28,M.Ramya,saikamavarapu@gmail.com,IT,B.Tech,2020-01-30 15:00:28,NaN
freq,1,2,1,1,8,13,2,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.846154
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.371902
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000

### Sales Data

- Read the Market Fact data into market_df
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Print the row indices of the dataframe
- Check the dtype of each and every columns
- Description for Numerical Column min,max,count,25%,50%,75%,std
- Description for the categorical Columns count,top,freq
- Missing value count column wise
- Total Missing values count in the DataFrame
- Check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many unique products are there
- How amny unique customers are there
- What is the maximum sales

In [3]:
market_df = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/market_fact.csv')
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [132]:
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [133]:
market_df.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [134]:
market_df.shape[0]

8399

In [4]:
market_df.shape[1]

10

In [135]:
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [5]:
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [137]:
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [145]:
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [7]:
market_df.describe()['Sales']

count     8399.000000
mean      1775.878179
std       3585.050525
min          2.240000
25%        143.195000
50%        449.420000
75%       1709.320000
max      89061.050000
Name: Sales, dtype: float64

In [8]:
market_df['Sales'].describe()

count     8399.000000
mean      1775.878179
std       3585.050525
min          2.240000
25%        143.195000
50%        449.420000
75%       1709.320000
max      89061.050000
Name: Sales, dtype: float64

In [146]:
market_df.describe(include='all')

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399,8399,8399,8399,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
unique,5506,17,7701,1832,NaN,NaN,NaN,NaN,NaN,NaN
top,Ord_542,Prod_6,SHP_564,Cust_1140,NaN,NaN,NaN,NaN,NaN,NaN
freq,6,1225,4,30,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,NaN,NaN,NaN,NaN,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,NaN,NaN,NaN,NaN,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,NaN,NaN,NaN,NaN,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,NaN,NaN,NaN,NaN,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,NaN,NaN,NaN,NaN,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,NaN,NaN,NaN,NaN,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [6]:
market_df.describe(include='object')

          Ord_id Prod_id   Ship_id    Cust_id
count       8399    8399      8399       8399
unique      5506      17      7701       1832
top     Ord_2506  Prod_6  SHP_5602  Cust_1140
freq           6    1225         4         30

In [148]:
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [149]:
market_df.isnull().sum().sum()

63

In [150]:
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

In [10]:
market_df.iloc[:,2:7:2]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [11]:
market_df.loc[:,['Ship_id','Sales','Order_Quantity']]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [9]:
market_df[['Ship_id','Sales','Order_Quantity']]

       Ship_id      Sales  Order_Quantity
0     SHP_7609   136.8100              23
1     SHP_7549    42.2700              13
2     SHP_7610  4701.6900              26
3     SHP_7625  2337.8900              43
4     SHP_7664  4233.1500              35
...        ...        ...             ...
8394  SHP_7479  2841.4395              28
8395  SHP_7555   127.1600              20
8396  SHP_7524   243.0500              39
8397  SHP_7469  3872.8700              23
8398  SHP_7628   603.6900              47

[8399 rows x 3 columns]

In [12]:
market_df.Cust_id.nunique()

1832

In [13]:
market_df.Prod_id.nunique()

17