### Pandas

In [7]:
import pandas as pd
pd.__version__

'0.25.1'

- series --> 1d array
- Dataframe --> 2d array
- Pannel --> 3d array

In [2]:
pd.Series([56,12,40,90])

0    56
1    12
2    40
3    90
dtype: int64

In [4]:
pd.Series([56,12,40,90],index=['r','j','b','v'])

r    56
j    12
b    40
v    90
dtype: int64

In [9]:
g = pd.Series([56,12,40,90],index=['r','j','b','v'])
print(g['r'],g[0])

56 56

In [3]:
import numpy as np
np.array([56,12,40,90])

array([56, 12, 40, 90])

In [10]:
d = {'a':12,'b':13,'c':14,'d':15,'e':16}
pd.Series(d)

a    12
b    13
c    14
d    15
e    16
dtype: int64

In [13]:
# to access the indices of a series using the index attribute
g.index

Index(['r', 'j', 'b', 'v'], dtype='object')

### Dataframe

In [14]:
d2 = {'name':['vineeth','jagan','ravi'],
     'language':['py','c','R']}
pd.DataFrame(d2)

      name language
0  vineeth       py
1    jagan        c
2     ravi        R

In [16]:
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [17]:
data.head(5)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [18]:
# To check the no.of rows and columns
data.shape

(26, 6)

In [19]:
data['Name']

0                 Sai Naga Raju
1                      R deepak
2                 P K CHAITANYA
3                    B SRIKANTH
4              Himaja cherukuri
5                 M.Geethanjali
6                     M.Nikhita
7              DASARI PAVAN SAI
8                 B Jagan Mohan
9             k.parameswara rao
10             B.Ravindra kumar
11          P.M.S.Bhargav Kumar
12        Thatavarti kavya sree
13                 Harish Bandi
14       M.Bhavani Sankar Reddy
15               Devendra Kumar
16                      M.Ramya
17              T.V.Naga Jyothi
18               Ananda Lakshmi
19                  K . krishna
20         Md.Ali Asghar Khoyee
21             G. Vineeth Kumar
22    JAYA NAVEEN KUMAR DUPPATI
23                     vikram S
24              SAI TEJA JALADI
25           SAIKUMAR MANIKONDA
Name: Name, dtype: object

In [20]:
data[['Name','MailId']]

                         Name                            MailId
0               Sai Naga Raju  sainagarajusakhamuri99@gmail.com
1                    R deepak            deepakrella9@gmail.com
2               P K CHAITANYA              chaitu1495@gmail.com
3                  B SRIKANTH           srikanthbisai@gmail.com
4            Himaja cherukuri         himajacherukuri@gmail.com
5               M.Geethanjali           geethamuppuri@gmail.com
6                   M.Nikhita            muvvanikhita@gmail.com
7            DASARI PAVAN SAI          pavandasari226@gmail.com
8               B Jagan Mohan           bjaganmohan24@gmail.com
9           k.parameswara rao    parameshkarumuri1997@gmail.com
10           B.Ravindra kumar    ravindrakumarroyal12@gmail.com
11        P.M.S.Bhargav Kumar     bhargavperumalla123@gmail.com
12      Thatavarti kavya sree         kavyathatavarti@gmail.com
13               Harish Bandi           harishbandi12@gmail.com
14     M.Bhavani Sankar Reddy       bhavanisankar5758@gmail.com
15             Devendra Kumar          devendra108148@gmail.com
16                    M.Ramya        ramya.marripoodi@gmail.com
17            T.V.Naga Jyothi            tvnagajyothi@gmail.com
18             Ananda Lakshmi         p.anandalakshmi@gmail.com
19                K . krishna           saikamavarapu@gmail.com
20       Md.Ali Asghar Khoyee             ali95asghar@gmail.com
21           G. Vineeth Kumar             121822502016@gitam.in
22  JAYA NAVEEN KUMAR DUPPATI       duppatijayanaveen@gmail.com
23                   vikram S     vikramsabbavarapu60@gmail.com
24            SAI TEJA JALADI       saitejajaladi2000@gmail.com
25         SAIKUMAR MANIKONDA             saikumarm64@gmail.com

In [41]:
data.sample()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016

In [43]:
# Total no of rows 
data.shape[0]

26

### Task : Write a function for email validator

In [44]:
# to get the columns names
data.columns

Index(['Timestamp', 'Name', 'MailId', 'Branch', 'Qualification', 'RollNumber'], dtype='object')

In [45]:
# To get the row labels
data.index

RangeIndex(start=0, stop=26, step=1)

In [46]:
# To check the dtypes of all columns
# output type - Series
data.dtypes

Timestamp        object
Name             object
MailId           object
Branch           object
Qualification    object
RollNumber       object
dtype: object

In [47]:
data.isnull()

    Timestamp   Name  MailId  Branch  Qualification  RollNumber
0       False  False   False   False          False       False
1       False  False   False   False          False       False
2       False  False   False   False          False       False
3       False  False   False   False          False       False
4       False  False   False   False          False       False
5       False  False   False   False          False       False
6       False  False   False   False          False       False
7       False  False   False   False          False       False
8       False  False   False   False          False       False
9       False  False   False   False          False       False
10      False  False   False   False          False       False
11      False  False   False   False          False       False
12      False  False   False   False          False       False
13      False  False   False   False          False       False
14      False  False   False   False          False       False
15      False  False   False   False          False       False
16      False  False   False   False          False       False
17      False  False   False   False          False       False
18      False  False   False   False          False       False
19      False  False   False   False          False       False
20      False  False   False   False          False       False
21      False  False   False   False          False       False
22      False  False   False   False          False       False
23      False  False   False   False          False       False
24      False  False   False   False          False       False
25      False  False   False   False          False       False

In [48]:
data.isnull().sum() # missing values count columnwise

Timestamp        0
Name             0
MailId           0
Branch           0
Qualification    0
RollNumber       0
dtype: int64

In [49]:
data.isnull().sum().sum() # missing value count in the dataframe

0

In [63]:
data2 = pd.read_csv('ml student data.tsv','\t')
data2

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

### Slicling

In [64]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [66]:
data[0]

KeyError: 0

- position based indexing --> iloc
- label Based Indexing

In [67]:
data.iloc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [68]:
data.iloc[0:1]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [69]:
data.iloc[0:6:2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [70]:
data.iloc[0:6:2,1:3]

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [73]:
data.iloc[-2:,-2:]

   Qualification    RollNumber
24        B.TECH    161FA07025
25           B.E  245112769310

In [74]:
data.loc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [75]:
data.loc[0:1]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019

In [76]:
data.loc[0:6:2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106

In [78]:
data.loc[0:4:2,'Name':'MailId']

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [81]:
data.loc[7:16:4,'Branch':'RollNumber']

                    Branch Qualification    RollNumber
7   Information Technology        B.Tech    161FA07042
11        Computer Science           MCA  121722501026
15                     ECE        B.Tech    14F41A0461

In [87]:
data.loc[25:23:-1,'Qualification':'RollNumber']

   Qualification    RollNumber
25           B.E  245112769310
24        B.TECH    161FA07025
23        B-tech    133J1A0150